* {
    padding: 0px;
    margin: 0 auto;
    background-color: #0c0c0c;
    font-family: consolas;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

body {
    border-style: double;
    border-color: white;
    border-width: .5em;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.batchquest-img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 80%;
}

.main-ascii-art {
    font-size: 3em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar {
    border-bottom: .2em double;
    padding-top: 1rem;
    color: white;
    font-size: 2em;
    height: 1.6em;
}

.footer {
    margin-top: 83vh;
    border-top: .2em double;
    padding-top: 1rem;
    color: white;
    font-size: 2em;
    height: 1.6em;
    display: flex;
}

.name {
    position: absolute;
    left: 1em;
}

.version {
    position: absolute;
    right: 1em;
}

a, a:visited, a:active {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 1600px) {
    .main-ascii-art
    {
        font-size: 2.5em;
    }
}

@media screen and (max-height: 695px) {
    .batchquest-img
    {
        width: 75%;
    }
}

@media screen and (max-width: 1350px) {
    .main-ascii-art
    {
        font-size: 2em;
    }
}

@media screen and (max-width: 1072px) {
    .main-ascii-art
    {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 816px) {
    .main-ascii-art
    {
        font-size: 1em;
    }
}